#choix
{
    display: flex;
    flex-flow: column wrap ;
    align-content: space-between;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    margin-top: -20px;
    margin-left: 5px;
}
#louer
{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    width: 100%;
    margin-left: 0;
}
#populaire
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    margin-left: 0;
}
#haut
{
    width: auto;
    margin-left: 20px;
}
#wrapT
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
#hebergements
{
    width: 100%;
}
#souvenir
{
    display: inline-flex;
    flex-flow: row wrap;
    height: 1250px;
    width: 100%;
    margin-left: 0;
    justify-content: space-around;
}
.wrapS
{
    display: block;
    flex-flow: column wrap;
    width: 50%;
    padding: 0;

}
.vieux
{
    width: 48%;
    height: 600px;
}
.Ivieux
{
    height: 93%;
}
#fort
{
    width: 100%;
    height: 280px;
}
#iles
{
    width: 100%;
    height: 280px;
}
#dame
{
    width: 100%;
    height: 280px;
}
#longchamp
{
    width: 100%;
    height: 280px;
}
.fin
{
    margin-left: 0%;
}
