#rien
{
   width: auto; 
}
.Cannebiere
{
    width: 30%;
    height: 42%;
    margin-top: -5px;
}
.imageh
{
    width: 100%;
    height: 60%;
}
.noteh
{
    width: 35%;
    height: 5%;
}
#souvenir
{
    width: 100%;
}
.vieux
{
    width: 22%;
    height: 100%;
}
.Ivieux
{
    width: 100%;
    height: 90%;
}
#fort
{
    width: 22%;
    height: 50%;
}
#Ifort
{
    width: 100%;
    height: 79%;
}
#iles
{
    width: 22%;
    height: 45%;
}
#Iiles
{
    width: 100%;
    height: 77%;
}
#dame
{
    width: 22%;
    height: 47%;
}
#Idame
{
    width: 100%;
    height: 78%;
}
#longchamp
{
    width: 22%;
    height: 47%;
}
#Ilongchamp
{
    width: 100%;
    height: 78%;
}
