#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo
{
    display: flex;
    height: 45px;
    width: 80px;
    margin: 40px 20px 20px;
}
#nav
{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    flex-direction: row;
    padding-right: 30px;

}
.hebergement
{
   padding-right: 40px;
   padding-left: 40px;
   color: blue;
   border-top: 3px groove blue;
   line-height: 100px;
}
.activites
{
    padding-left: 40px;
    padding-right: 40px;
    border-top: 0 groove rgb(255, 255, 255);
    line-height: 110px;
}
h1
{
    font-weight: bold;
    font-size: x-large;
}
h2
{
    font-weight: normal;
    font-size: medium;
}
#recherche
{
    display:flex;
    flex-flow: row;
    box-sizing: border-box;
    width: 306px;
    height: 38px;
    padding:0;
    border: 2px solid rgba(127, 124, 124, 0.105);
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    align-items: center;

}
.Pointeur
{
    height: 33px;
    width: 33px;
    border: 0px solid rgba(170, 170, 170, 0.089);
    border-radius: 20px 0 0 20px;
    background-color: grey;
    margin-right: 15px ;
    margin-top: 4px;
}
input 
{
    width: 150px;
    height:35px;
    border: 1px solid rgba(128, 128, 128, 0.039);
    border-left: 0;
    border-right: 0;
}
.Rechercher
{
    background-color: blue;
    color: white;
    width: 100px;
    border-radius: 0 20px 20px 0;
}