body{
    margin-left: 10px;
}
#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo
{
    display: flex;
    height: 45px;
    width: 80px;
    margin: 40px 20px 20px;
}
#nav
{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    flex-direction: row;
    padding-right: 30px;

}
.hebergement
{
   padding-right: 40px;
   padding-left: 40px;
   color: blue;
   border-top: 3px groove blue;
   line-height: 100px;
}
.activites
{
    padding-left: 40px;
    padding-right: 40px;
    border-top: 0 groove rgb(255, 255, 255);
    line-height: 110px;
}
h1
{
    font-weight: bold;
    font-size: x-large;
}
h2
{
    font-weight: normal;
    font-size: medium;
}
#recherche
{
    display:inline-flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: 306px;
    height: 38px;
    padding:0;
    border: 2px solid rgba(127, 124, 124, 0.105);
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    align-items: center;
}
.Pointeur
{
    height: 33px;
    width: 33px;
    border: 0px solid rgba(170, 170, 170, 0.089);
    border-radius: 20px 0 0 20px;
    background-color: grey;
    margin-right: 15px ;
    margin-top: 4px;
}
input 
{
    width: 150px;
    height:35px;
    border: 1px solid rgba(128, 128, 128, 0.039);
    border-left: 0;
    border-right: 0;
}
.Rechercher
{
    background-color: blue;
    color: white;
    width: 100px;
    border-radius: 0 20px 20px 0;
}
#loupe
{
    display:none;
}
::placeholder
{
    font-weight: bold;
    color: black;
}
.info
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#choix
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-right: 300px;
    font-weight: bold;
    margin-top: 20px;
}
.picture
{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border: 0 solid gray;
    border-radius: 50px 50px 50px 50px;
}
#economie
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    width: 170px;
    height: 40px;
    border: 2px solid rgba(128, 128, 128, 0.391);
    border-radius: 40px 40px 40px 40px;
    border-left: 0;
}
#familial
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center ;
    box-sizing: border-box;
    width: 170px;
    height: 40px;
    border: 2px solid rgba(128, 128, 128, 0.391);
    border-radius: 40px 40px 40px 40px;
    border-left: 0;
}
#animaux
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    width: 205px;
    height: 40px;
    border: 2px solid rgba(128, 128, 128, 0.391);
    border-radius: 40px 40px 40px 40px;
    border-left: 0;
}
#romantique
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    width: 170px;
    height: 40px;
    border: 2px solid rgba(128, 128, 128, 0.391);
    border-radius: 40px 40px 40px 40px;
    border-left: 0;
}
#louer
{
    display: flex;
    flex-flow: row-reverse;
    border-collapse: separate;
    align-content: space-around;
}
#populaire
{
    display: flex;
    align-items: center;
    margin-right: 30px;
    flex-flow: column;
    box-sizing:border-box;
    width: 450px;
    height: 700px;
    border: 0;
    background-color: rgb(242,242,241);
    border-radius: 20px;
    margin-left: 40px;
}
.hotelp
{
    box-sizing: border-box;
    width:380px;
    height: 170px;
    padding: 5px;
    border: 0px solid black;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    border-collapse: separate;
    margin: 20px;
    background-color: white;
}
#etoilep
{
    width: 30px;
    height: 30px;

}
.imagep
{
    width: 150px;
    height: 150px;
    border-radius: 20px 0 0 20px;
    margin-right: 5px;
}
.note
{
    width: 70px;
    height: 20px;
    margin-top: 30px;
}
#haut
{
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    
}
#populaire h4
{
    font-size: 1.25em;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: 200px;
    margin:10px 0 -10px 0;
}
#hebergement
{
    display: flex;
    box-sizing: border-box;
    width: 900px;
    height: 700px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    flex-flow: row wrap;
    background-color: rgb(242,242,241);
}
#hebergement h4
{
    font-size: 1.25em;
    margin:10px 0 -15px 0;
}
.imageh
{
    width: 200px;
    height: 150px;
    border-radius: 20px 20px 0 0;
}
#marseilles
{
    box-sizing: border-box;
    width: 100%;
}
.Cannebiere
{
    display: flex;
    box-sizing: border-box;
    width: 230px;
    height: 270px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    flex-flow: column wrap;
    border-collapse: separate;
    margin: 10px;
    background-color: white;
    justify-content: space-between;
}
.noteh
{
    width: 70px;
    height: 20px;
}
#afficher
{
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    margin-left: 30px;
}