#logo
{
    display: flex;
    height: 45px;
    width: 80px;
    margin: 40px 20px 20px;
}
#nav
{
display: flex;
list-style-type: none;
margin-right: 20px;
justify-content: flex-end;
flex-direction: row ;
padding-right: 30px;

}
.hebergement
{
   padding-right: 40px;
   padding-left: 40px;
   color: blue;
   border-top: 3px groove blue;
   line-height: 100px;
}
.activites
{
    padding-left: 40px;
    padding-right: 40px;
    border-top: 0 groove rgb(255, 255, 255);
    line-height: 110px;
}